@tailwind base;
@tailwind components;
@tailwind utilities;
$font-name: "vazir";

@font-face {
  font-family: $font-name;
  src: url("../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Regular.ttf")
      format("truetype"),
    url("../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font-name;
  src: url("../node_modules/vazirmatn/fonts/ttf/Vazirmatn-SemiBold.ttf")
      format("truetype"),
    url("../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-SemiBold.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: $font-name;
  src: url("../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Bold.ttf")
      format("truetype"),
    url("../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Bold.woff2")
      format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: $font-name;
  direction: rtl;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  min-height: 100vh;
}
